pre.syntax-hl-fk.calm-theme {
  background-color: #222;
  color: #eee; }
  pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text {
    color: #eee; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .string_v {
      color: #ddc; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .string_n {
      color: #78a; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text ._null {
      color: #98f; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .error {
      color: #fff;
      background-color: #e48;
      box-shadow: inset 0 0 2px #fff; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .f_name {
      color: #eee;
      font-weight: bold; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .comment {
      color: #777; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .string {
      color: #a98; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .re {
      color: #78a; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .slashed {
      color: #f90; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .number {
      color: #f90; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .bool {
      color: #f90; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .sp_const {
      color: #f90; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .keyword {
      color: #78a; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .operator {
      color: #78a; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .punctuation {
      color: #eee; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .paren {
      color: #ddc; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .curly {
      color: #ddc; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .bracket {
      color: #ddc; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .word {
      color: #ddc; }
    pre.syntax-hl-fk.calm-theme .syntax-hl-fk__line-text .string_tag {
      color: #ddc; }

pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line .syntax-hl-fk__line-number {
  background-color: #444; }

pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text {
  color: #eee; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .string_v {
    color: #ddc; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .string_n {
    color: #78a; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text ._null {
    color: #98f; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .error {
    color: #fff;
    background-color: #e48;
    box-shadow: inset 0 0 2px #fff; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .f_name {
    color: #eee;
    font-weight: bold; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .comment {
    color: #777; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .string {
    color: #b98; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .re {
    color: #78a; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .slashed {
    color: #fb6; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .number {
    color: #fb6; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .bool {
    color: #fb6; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .sp_const {
    color: #fb6; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .keyword {
    color: #78a; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .operator {
    color: #78a; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .punctuation {
    color: #eee; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .paren {
    color: #ddc; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .curly {
    color: #ddc; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .bracket {
    color: #ddc; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .word {
    color: #ddc; }
  pre.syntax-hl-fk.calm-clarified-theme .syntax-hl-fk__line-text .string_tag {
    color: #ddc; }

pre.syntax-hl-fk.calm-clarified-json-theme .syntax-hl-fk__line .syntax-hl-fk__line-number {
  background-color: #444; }

pre.syntax-hl-fk.calm-clarified-json-theme .syntax-hl-fk__line-text .string_v {
  color: #ddc; }

pre.syntax-hl-fk.calm-clarified-json-theme .syntax-hl-fk__line-text .string_n {
  color: #78a; }

pre.syntax-hl-fk.calm-clarified-json-theme .syntax-hl-fk__line-text .bool {
  color: #fb6; }

pre.syntax-hl-fk.calm-clarified-json-theme .syntax-hl-fk__line-text .number {
  color: #fb6; }

pre.syntax-hl-fk.calm-clarified-json-theme .syntax-hl-fk__line-text .slashed {
  color: #fb6; }

pre.syntax-hl-fk.calm-clarified-json-theme .syntax-hl-fk__line-text ._null {
  color: #98f; }

pre.syntax-hl-fk.calm-clarified-json-theme .syntax-hl-fk__line-text .error {
  color: #fff;
  background-color: #e48;
  box-shadow: inset 0 0 2px #fff; }

pre.syntax-hl-fk.monokai-theme {
  background-color: #333;
  color: #eee; }
  pre.syntax-hl-fk.monokai-theme .syntax-hl-fk__line-text .f_name {
    color: #3bd; }
  pre.syntax-hl-fk.monokai-theme .syntax-hl-fk__line-text .comment {
    color: #888; }
  pre.syntax-hl-fk.monokai-theme .syntax-hl-fk__line-text .string {
    color: #da5; }
  pre.syntax-hl-fk.monokai-theme .syntax-hl-fk__line-text .re {
    color: #da5; }
  pre.syntax-hl-fk.monokai-theme .syntax-hl-fk__line-text .slashed {
    color: #98f; }
  pre.syntax-hl-fk.monokai-theme .syntax-hl-fk__line-text .number {
    color: #98f; }
  pre.syntax-hl-fk.monokai-theme .syntax-hl-fk__line-text .bool {
    color: #98f; }
  pre.syntax-hl-fk.monokai-theme .syntax-hl-fk__line-text .sp_const {
    color: #98f; }
  pre.syntax-hl-fk.monokai-theme .syntax-hl-fk__line-text .keyword {
    color: #e48; }
  pre.syntax-hl-fk.monokai-theme .syntax-hl-fk__line-text .operator {
    color: #e48; }
  pre.syntax-hl-fk.monokai-theme .syntax-hl-fk__line-text .punctuation {
    color: #eee; }
  pre.syntax-hl-fk.monokai-theme .syntax-hl-fk__line-text .paren {
    color: #eee; }
  pre.syntax-hl-fk.monokai-theme .syntax-hl-fk__line-text .curly {
    color: #eee; }
  pre.syntax-hl-fk.monokai-theme .syntax-hl-fk__line-text .bracket {
    color: #eee; }
  pre.syntax-hl-fk.monokai-theme .syntax-hl-fk__line-text .word {
    color: #eee; }
  pre.syntax-hl-fk.monokai-theme .syntax-hl-fk__line-text .string_tag {
    color: #eee; }

pre.syntax-hl-fk.monokai-clarified-theme {
  color: #eee; }
  pre.syntax-hl-fk.monokai-clarified-theme .syntax-hl-fk__line-text .f_name {
    color: #3bd; }
  pre.syntax-hl-fk.monokai-clarified-theme .syntax-hl-fk__line-text .comment {
    color: #888; }
  pre.syntax-hl-fk.monokai-clarified-theme .syntax-hl-fk__line-text .string {
    color: #da5; }
  pre.syntax-hl-fk.monokai-clarified-theme .syntax-hl-fk__line-text .re {
    color: #da5; }
  pre.syntax-hl-fk.monokai-clarified-theme .syntax-hl-fk__line-text .slashed {
    color: #98f; }
  pre.syntax-hl-fk.monokai-clarified-theme .syntax-hl-fk__line-text .number {
    color: #98f; }
  pre.syntax-hl-fk.monokai-clarified-theme .syntax-hl-fk__line-text .bool {
    color: #98f; }
  pre.syntax-hl-fk.monokai-clarified-theme .syntax-hl-fk__line-text .sp_const {
    color: #98f; }
  pre.syntax-hl-fk.monokai-clarified-theme .syntax-hl-fk__line-text .keyword {
    color: #e48; }
  pre.syntax-hl-fk.monokai-clarified-theme .syntax-hl-fk__line-text .operator {
    color: #e48; }
  pre.syntax-hl-fk.monokai-clarified-theme .syntax-hl-fk__line-text .punctuation {
    color: #eee; }
  pre.syntax-hl-fk.monokai-clarified-theme .syntax-hl-fk__line-text .paren {
    color: #eee; }
  pre.syntax-hl-fk.monokai-clarified-theme .syntax-hl-fk__line-text .curly {
    color: #eee; }
  pre.syntax-hl-fk.monokai-clarified-theme .syntax-hl-fk__line-text .bracket {
    color: #eee; }
  pre.syntax-hl-fk.monokai-clarified-theme .syntax-hl-fk__line-text .word {
    color: #eee; }
  pre.syntax-hl-fk.monokai-clarified-theme .syntax-hl-fk__line-text .string_tag {
    color: #eee; }

pre.syntax-hl-fk.t1-theme {
  color: #eee; }
  pre.syntax-hl-fk.t1-theme .syntax-hl-fk__line-text .f_name {
    color: #3bd; }
  pre.syntax-hl-fk.t1-theme .syntax-hl-fk__line-text .comment {
    color: #777; }
  pre.syntax-hl-fk.t1-theme .syntax-hl-fk__line-text .string {
    color: #da5; }
  pre.syntax-hl-fk.t1-theme .syntax-hl-fk__line-text .re {
    color: #da5; }
  pre.syntax-hl-fk.t1-theme .syntax-hl-fk__line-text .slashed {
    color: #98f; }
  pre.syntax-hl-fk.t1-theme .syntax-hl-fk__line-text .number {
    color: #98f; }
  pre.syntax-hl-fk.t1-theme .syntax-hl-fk__line-text .bool {
    color: #98f; }
  pre.syntax-hl-fk.t1-theme .syntax-hl-fk__line-text .sp_const {
    color: #98f; }
  pre.syntax-hl-fk.t1-theme .syntax-hl-fk__line-text .keyword {
    color: #e48; }
  pre.syntax-hl-fk.t1-theme .syntax-hl-fk__line-text .operator {
    color: #3db; }
  pre.syntax-hl-fk.t1-theme .syntax-hl-fk__line-text .punctuation {
    color: #3db; }
  pre.syntax-hl-fk.t1-theme .syntax-hl-fk__line-text .paren {
    color: #3db; }
  pre.syntax-hl-fk.t1-theme .syntax-hl-fk__line-text .curly {
    color: #3db; }
  pre.syntax-hl-fk.t1-theme .syntax-hl-fk__line-text .bracket {
    color: #3db; }
  pre.syntax-hl-fk.t1-theme .syntax-hl-fk__line-text .word {
    color: #eee; }
  pre.syntax-hl-fk.t1-theme .syntax-hl-fk__line-text .string_tag {
    color: #eee; }

pre.syntax-hl-fk.t2-theme {
  color: #eee; }
  pre.syntax-hl-fk.t2-theme .syntax-hl-fk__line-text .string_v {
    color: #fd8; }
  pre.syntax-hl-fk.t2-theme .syntax-hl-fk__line-text .string_n {
    color: #78a; }
  pre.syntax-hl-fk.t2-theme .syntax-hl-fk__line-text .bool {
    color: #98f; }
  pre.syntax-hl-fk.t2-theme .syntax-hl-fk__line-text .number {
    color: #f90; }
  pre.syntax-hl-fk.t2-theme .syntax-hl-fk__line-text ._null {
    color: #98f; }
  pre.syntax-hl-fk.t2-theme .syntax-hl-fk__line-text .error {
    color: #fff;
    background-color: #e48;
    box-shadow: inset 0 0 2px #fff; }
  pre.syntax-hl-fk.t2-theme .syntax-hl-fk__line-text .slashed {
    color: #98f; }

/*# sourceMappingURL=themes.css.map */