.colors {
	.violet     {color: #98f;}
	.blue       {color: #9be;}
	.blue       {color: #3bd;}
	.blue       {color: #6bc;}
	.green-blue {color: #3db;}
	.red        {color: #e48;}
	.blue       {color: #ddd;}
	.green      {color: #393;}
	.l-brown    {color: #da5;}
	.l-green    {color: #ac6;}
	.l-green    {color: #8d1;}
	.gray       {color: #888;}
}

.syntax-hl-fk__line-text {
	.f_name      {color: #8d1;}
	.f_name      {color: #3bd;}
	.comment     {color: #888;}
	.string      {color: #da5;}
	.re          {color: #da5;}
	.slashed     {color: #98f;}
	.number      {color: #98f;}
	.bool        {color: #98f;}
	.sp_const    {color: #98f;}
	.keyword     {color: #e48;}
	.operator    {color: #3db;}
	.punctuation {color: #3db;}
	.paren       {color: #3db;}
	.curly       {color: #3db;}
	.bracket     {color: #3db;}
	.word        {color: #eee;}
	.string_tag  {color: #eee;}
}